page-home {

.tab-font-size{

}
ion-icon{
    font-size: 3rem;
}
.button-inner{
    font-size: 1.2rem !important;
}

.border-right-fav{
    border-right:solid 1px #eee;
  }
  ion-thumbnail{
      border:solid 1px #eee;
      text-align: center;
  }

label{
    font-size: 1rem !important;
    font-weight: normal !important;

}
.fav-text{
  font-size: 1.2rem !important;
  
  text-transform: capitalize;
}
.thumbnail-img{
    position: relative;
 /* border:solid 1px #eee;*/
      text-align: center;

}
.pad-2{
    padding: 2px 2px;
}

.thumbnail-text{

   
  /*  position: absolute;*/
  /*  bottom: 12%;*/
    
    text-align: center;
    width: 100%;
    font-size: 1.2rem !important;
  /*  color: #fff; 
   opacity: 0.5;
   background: #000;*/
 padding: 2px 2px;
   
}

.fav-shop-title{
    margin:0 !important;
    padding: 2px 0 2px 5px;
}

.fav-shop-title label{
    font-size: 1.4rem !important;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

}

